/* Custom Stylesheet */

html, main, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial !important;
}

a:link {
    color: white;
    text-decoration: none;
}

/* Navbar */
#navbar {
    top: 0;
    width: 100%;
    text-align: center;
    padding: 4vh 4vh 0vh 4vh;
}

#nav-link {
    color: white;
    font-size: 18px;
    padding: 4vh;
    font-weight: bold;
}

#nav-link:hover {
    color: #FFFF4F;
}

#nav-link-active {
    color: #FFFF4F;
    font-size: 18px;
    padding: 4vh;
    font-weight: bold;
}

/* Home Section */
#home {
    background-image: url("../images/synthwave.png");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#bg-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#intro {
    top: 0;
    width: 67%;
    position: fixed;
    padding-top: 16vh;
    padding-left: 30vw;
    text-align: left;
    pointer-events: none;
}

#intro-text {
    padding-left: 2vh;
    border-left: solid 5px #cc0000;
}

#intro-heading {
    color: #cc0000;
    font-size: 52px;
    font-weight: 750;
    cursor: text;
}

#intro-sub {
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: text;
}

#intro-button {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    padding: 8px 20px;
    margin-top: 20px;
    background-color: #cc0000;
    pointer-events: auto;
}

#intro-button:hover {
    background-color: #990000;
    font-weight: 600;
    color: #cccccc;
}

/* Section Headings */
#heading {
    color: #FFFF4F;
    text-align: center;
    padding-top: 10vh;
    font-size: 52px;
    font-weight: 750;
}

/* About Section */
#about {
    background-color: #170829;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#bio {
    width: 40%;
}

#bio-heading {
    color: #FFFF4F;
    font-size: 28px;
    font-weight: 750;
    border-bottom: solid 2px #FFFF4F;
}

#bio-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio-col img {
    border-radius: 24px;
    display: inline-block;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 350px;
    width: 350px;
    padding: 5vh
}

#bio-content {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: text;
    transition: 0.3s;
    border-radius: 12px;
    padding: 5vh;
}

#bio-text-lg {
    font-size: 20px; 
    font-weight: 750;
    padding-bottom: 2vh;
}

#bio-text label {
    color: #FFFF4F; 
    font-weight: 750;
}

/* Skills Section */
#skills {
    background-image: url("../images/synthwave.png");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#skills-col {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Work Section */
#work {
    background-color: #170829;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Projects Section */
#projects {
    background-image: url("../images/synthwave.png");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
