/* Custom Stylesheet */

html, main, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial !important;
}

a:link {
    color: white;
    text-decoration: none;
}

/* Navbar */
#navbar {
    top: 0;
    width: 100%;
    text-align: center;
    padding: 4vh 4vh 4vh 4vh;
    z-index: 1;
    position: absolute;
}

#nav-link {
    color: #666666;
    font-size: 20px;
    padding-left: 4vh;
    padding-right: 4vh;
    font-weight: bold;
    transition: 0.20s ease-in;
}

#nav-link:hover {
    color: #FFFFFF;
}

/* Full Width/Height Container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Section */
#home {
    background-color: #181818;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cloud {
    position: fixed;
    pointer-events: none;
}

/* TypeWriter */
#app {
    color: white;
    font-size: 120px;
    font-weight: 600;
    cursor: text;
    position: fixed;
    pointer-events: none;
}

.Typewriter__cursor {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}

#writer1 {
    color: #fc1d33;
}

#writer2 {
    color: #d7e61a;
}

#writer3 {
    color: #99C6E5;
}

#writer4 {
    color: #9CE6AF;
}

#writer5 {
    color: #B299E6;
}

/* Explore Button */
#explore {
    color: #666666;
    position: fixed;
    padding: 4vh;
    bottom: 0;
    text-align: center;
    font-size: 24px;
}

#explore label{
    opacity: 0.0;
    color: #666666;
    font-weight: bold;
    transition: 0.30s ease-in;
}

#explore a {
    color: #666666;
    transition: 0.30s ease-in;
}

#explore a:hover {
    color: #FFFFFF;
}

#explore a:hover label {
    opacity: 1.0;
    color: #FFFFFF;
}

/* Section Headings */
.heading {
    width: 48%;
    padding: 2vh;
    margin: 5vh;
    font-size: 52px;
    font-weight: 750;
    color: #666666;
    text-align: center;
    border-bottom: solid 2px #666666;    
}

/* About Section */
#about {
    background-color: #181818;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Accordion */
.accordion {
    color: white;
    width: 60%;
    max-width: 60%;
}

.accordion-item {
    border-top: solid 2px #FFFFFF;
}

.accordion-item-header {
    padding: 2vh;
    font-weight: bold;
    font-size: 42px;
    cursor: pointer;
    transition: 0.20s ease-in;
}

.accordion-item-header:hover {
    color: #666666;
}

.accordion-item-header.active {
    color: #666666;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

.accordion-item-body-text {
    padding: 0 2vh 2vh 2vh;
    font-size: 22px;
}

/* Skills Section */
#skills {
    background-color: #181818;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Projects Section */
#projects {
    background-color: #181818;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Contact Section */
#contact {
    background-color: #181818;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
