
Terraform/Practice/.terraform.lock.hcl
Terraform/Practice/.terraform/modules/modules.json
Terraform/Practice/.terraform/providers/registry.terraform.io/hashicorp/aws/3.70.0/windows_amd64/terraform-provider-aws_v3.70.0_x5.exe
Terraform/Practice/terraform.tfstate
