{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div id="home">
        <!-- Navbar -->
        <nav id="navbar">
            <div id="nav-items">
                <a id="nav-link" href="#intro">Home</a>
                <a id="nav-link" href="#about">About</a>
                <a id="nav-link" href="#skills">Skills</a>
                <a id="nav-link" href="#work">Work</a>
                <a id="nav-link" href="#projects">Projects</a>
            </div>
        </nav>
        <div id="intro">
            <div id="intro-heading">
                <label id="intro-welcome">Hi there, I'm</label><br>
                <label style="color: #FFFF4F;">James White</label>
            </div>
            <div id="intro-text">Some Text Here</div>
            <button id="button" onclick="document.location='#about'">ABOUT ME</button>
        </div>
        <img id="bg-bottom" src="{% static 'images/bg-bottom.png' %}">
    </div>

    <div id="about">
        <div class="row h-100">
            <div id="bio-col" class="col">
                <div style="padding: 5vh;">
                    <img src="{% static '' %}" alt="Image Not Found">
                </div>
                <div id="bio" style="width: 40%">
                    <div id="bio-content">
                        <div id="bio-heading">
                            About Me
                        </div>
                        <p style="padding-top: 2vh">
                            <label style="font-size: 20px; font-weight: 750">I'm James, a Cyber Security graduate from
                                the University of
                                Plymouth currently looking to secure roles in Python and Django Development.</label>
                            <br><br>
                            I've been working in logistics for over eight years but wanted more of challenge for my
                            future
                            career. That's when I stumbled across Cisco Networking and it immediately sparked my
                            interest. I
                            self-taught myself the CCNA syllabus and passed the Cisco CCENT exam before
                            university.
                            <br><br>
                            During my final year I loved working with Python and Django to build websites. I
                            self-studied
                            <label style="color: #FFFF4F; font-weight: 750">Python, HTML, CSS, JS, JQuery and the Django
                                Web Framework</label> and have since built multiple Django
                            sites for myself including my final year project and this website.<br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="skills">
        <div class="row h-100">
            <div id=skills-col class="col">
                Some text here
            </div>
        </div>
        <img id="bg-bottom" src="{% static 'images/bg-bottom.png' %}">
    </div>

    <div id="work">

    </div>

    <div id="projects">
        
        <img id="bg-bottom" src="{% static 'images/bg-bottom.png' %}">
    </div>

{% endblock %}