/* Custom Stylesheet */

/* -- Global -- */
html, main, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial !important;
    overflow: auto;
}

/* Sections */
section {
    height: 100%;
}

#home, #work, #contact {
    background-color: #f3b70a;
}

.section-text {
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-heading {
    font-size: 80px;
    font-weight: bold;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto max-content;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    align-items: center;
}

.grid-item-left {
    padding: 20px;
    text-align: left;
}

.grid-item-right {
    padding: 20px;
    text-align: right;
}

#home .grid-item-left {
    padding: 50px 20px 50px 20px;
    text-align: left;
}

/* Bottom Text */
.bottom-text {
    font-size: 42px;
    text-align: right;
    padding: 10vh;
}

#home .bottom-text {
    background-color: #ffffff;
}

#about .bottom-text {
    background-color: #f3b70a;
}

#work .bottom-text {
    background-color: #ffffff;
}

#skills .bottom-text {
    background-color: #f3b70a;
}

#contact .bottom-text {
    background-color: #ffffff;
}

/* Buttons */
.btn-down {
    color: black;
    justify-items: center;
    text-decoration: none;
    border: solid 2px black;
    padding: 20px 25px 20px 25px;
    margin: 1vw;
    position: relative;
    z-index: 1;
    transition: 250ms ease-in;
}

.btn-down::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 250ms ease-in;
}

.btn-down:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-down:hover {
    color: white;
}

#contact .btn-down::after {
    transform-origin: top;
}

#contact .btn-down:hover::after {
    transform-origin: bottom;
}

/* -- Home Page -- */
/* TypeWriter */
#app {
    font-size: 84px;
    font-weight: 600;
    pointer-events: none;
}

.Typewriter__cursor {
    margin-left: 1px;
    animation: Typewriter-cursor 1s infinite;
}

/* Nav List */
.nav-list {
    list-style-type: none;
    font-size: 42px;
}

.nav-item {
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* -- Contact Page -- */
#sites a {
    color: black;
    font-size: 72px;
    text-decoration: none;
    transition: 250ms ease-in;
}

#sites a:hover{
    color: white;
}

#sites li {
    text-align: left;
    list-style: none;
    padding-bottom: 2vh;
}

#sites svg {
    padding: 0 10px 2vh 0;
    vertical-align: middle;
}